/* ESTILO HTML E BODY*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}

/* BORDER BOX PARA TODOS ELEMENTOS AFTER E BEFORE*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* MENU DE NAVEGAÇÃO */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1e47;
  width: 100%;
  padding: 20px 40px;
}

.logo img {
  height: 90px;
  width: auto;
}

/* MENU */
#menu {
  display: flex;
  gap: 100px;
}

#menu a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

#menu img {
  width: 32px;
  filter: brightness(0) invert(1);
}

#menu a span {
  position: absolute;
  bottom: -28px;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(6px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

#menu a:hover span {
  opacity: 1;
  transform: translateY(0);
}

#menu a img {
  display: inline-block;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

#menu a:hover img {
  transform: translateY(-2px);
}

/* MENU HAMBURGUER DO HEADER */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}

/* CONTAINER VALOR DA EMPRESA */
.container_valor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40vh;
  background-color: #1b1e47;
}

.card_valor {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-left: 1px solid #ffff;
  border-right: 1px solid #ffff;
  text-align: center;
}

.card_valor img {
  width: 42px;
  filter: brightness(0) invert(1);
}

.card_valor span {
  font-size: 2rem;
  color: #fff;
}

/* MENU BACKDROP HAMBURGUER */
#menu-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#menu-backdrop.active {
  display: block;
}

/* CAROSSEL DE IMAGENS */
.mySwiper {
  max-width: 100%;
  min-height: 60vh;
}

.home-slide {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.home-slide img {
  width: 100%;
  height: auto;
  height: 60vh;
  object-fit: cover;
  image-rendering: auto;
  filter: brightness(0.5);
}

.slide-text {
  position: absolute;
  left: 10%;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transform: translateX(20px);
  transition: 0.6s ease;
}

.swiper-slide-active .slide-text {
  opacity: 1;
  transform: translateY(0);
}

.mySwiper .swiper-pagination-bullet {
  background: #f5f5f5;
  width: 10px;
  height: 10px;
}

@media (max-width: 380px) {
  .mySwiper {
    max-width: 100%;
  }
}
/* LAYOUT SOBRE A EMPRESA */
.sobre {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 1;
  filter: brightness(0.3);
}

.about.active {
  opacity: 1;
  z-index: 2;
  animation: zoomEfeito 6s forwards;
}

@keyframes zoomEfeito {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.about_text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column;
  padding-left: 10%;
  z-index: 10;
  height: 100%;
}

.text_one {
  font-size: 3rem;
  color: #f7d304;
}

.text_two {
  font-size: 2rem;
  color: #f5f5f5;
}

/* CONTAINER CARROSEL DAS CATEGORIAS */
.category-section {
  width: 100%;
  margin-top: 10%;
}

.category-section .text_products {
  text-align: center;
  color: #1b1e47;
  margin-bottom: 50px;
  font-size: 2rem;
}

.categorySwiper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}

.category-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*.category-slide span {
  border-bottom: 1px solid #335485;
  width: 100%;
}*/

.externo-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.category-img-wrapper {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SEÇÃO DE PRODUTOS*/
.products-section {
  width: 100%;
  display: none;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  margin-top: 40px;
  position: relative;
}

.products-section.visible {
  display: flex;
  opacity: 1;
}

/* GRID DOS PRODUTOS*/
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  justify-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* CARD DOS PRODUTOS*/
.product-card {
  width: 100%;
  max-width: 260px;
  min-height: 360px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeCard 0.4s ease forwards;
}

.product-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card h3 {
  color: #aaa;
  font-size: 1rem;
  text-align: center;
  margin: 10px auto;
}

.product-card p {
  color: #aaa;
  font-size: 12px;
  margin-left: 10px;
}
@keyframes fadeCard {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SKELETON LOADING  */
.skeleton {
  background: linear-gradient(90deg, #e3e3e3 25%, #f5f5f5 50%, #e3e3e3 75%);
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skel-img {
  width: 100%;
  height: 160px;
  margin-bottom: 15px;
}

.skel-line {
  width: 80%;
  height: 14px;
  margin-bottom: 10px;
}

/*BOTÃO FECHAR*/

.close-products-btn {
  position: absolute;
  top: 10px;
  right: 19%;
  background: #fff;
  border: 2px solid #aaa;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  transition: 0.2s;
}

.close-products-btn:hover {
  background: #ff4444;
  border-color: #ff4444;
  color: #fff;
}

/* CONTAINER DE VIDEOS */
.container_vid {
  width: 100%;
  padding: 50px 0;
  background-color: #1b1e47;
  margin-top: 10%;
}

.container_sec_vid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container_sec_vid iframe {
  width: 100%;
  max-width: 450px;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  border: none;
}

.text_vid {
  font-family: 'poppins' sans-serif;
  font-size: 2rem;
  color: #fff;
  transition: 1s all ease;
  text-align: center;
  padding-bottom: 100px;
}

/* CONTAINER IMPORTANCIA DO EPI */
.text_epi {
  margin-top: 10%;
  text-align: center;
  color: #1b1e47;
}

.container_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 95%;
  max-width: 1200px;
  min-height: 50%;
  border-radius: 6px;
  gap: 30px;
  margin: 50px auto;
}

.card {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 1px solid #000000;
}

.card .front {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card img {
  width: 100px;
}
.card .front {
  opacity: 1;
  background: linear-gradient(-45deg, #3e5a7d 0%, #1b1e47);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  background: linear-gradient(-45deg, #3e5a7d 0%, #1b1e47 100%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(96%);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .back .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .back {
  transform: translateY(0);
}

.card:hover .front {
  transform: translateY(-30%);
}

.card:hover .front p {
  opacity: 0;
}

/* CONTAINER MARCAS */
.swiperMark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 30vh;
  overflow: hidden;
}

.swiperMark .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: linear;
}

.mark-category img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  filter: grayscale(100%) brightness(1);
}

.seçao-mark {
  margin: 10% auto;
}

.text-mark {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

/*  CONTAINER FINAL / IMAGEM/ ENDEREÇO/ CONTATO/ REDES SOCIAIS*/
.container_final {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  min-height: 20vh;
  background-color: #000000e0;
  gap: 100px;
}

.container_final_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: center;
  max-width: 1200px;
  gap: 40px;
  margin: 50px auto;
}

/* Layouts das colunas*/
.container_address,
.container_contato,
.container_redes,
.logo_final {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.logo_final {
  width: 300px;
  image-rendering: optimizeQuality;
  margin-top: 50px;
  margin-left: 100px;
}

/* estilo dos containers */
.container_final h2 {
  font-size: 1.5rem;
  border: none;
  color: #ffffff;
}

.container_address h4,
p {
  margin: 0px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: bold;
}

.contato_icones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  filter: brightness(0) invert(1);
}

.contato_icones a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.contato_icones img:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.contato_icones img {
  width: 20px;
}

.redes_icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  filter: brightness(0) invert(1);
  width: 100% auto;
}

.redes_icones a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transform: scale(1);
}

.redes_icones img:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
}
.redes_icones img {
  width: 20px;
}

.mapa {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40vh;
  background: #000000e0;
}

.mapa iframe {
  border-radius: 6px;
  width: 90%;
  min-height: 100%;
  margin-left: 20px;
}
/*Direitos reservados (Rodapé)*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  background-color: #000000e0;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
}

/*-----------------------------@MEDIA QUERIA RESPONSIVO-------------*/

/* MEDIA QUERIE 768px */
@media (max-width: 768px) {
  /* HEADER E MENU DE NAVEGAÇÃO*/
  header {
    justify-content: space-between;
    padding: 15px 25px;
  }

  .menu-toggle {
    display: flex;
    z-index: 10000;
  }

  #menu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 9999;
    width: 70%;
    height: 100vh;
    background-color: #1b1e47;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: 0.4s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  }

  #menu.active {
    right: 0;
  }

  /* FAZ O TEXTO DO SPAN SEMPRE APARECER NO MOBILE */
  #menu a span {
    position: static;
    opacity: 1;
    transform: none;
    margin-top: 8px;
  }

  #menu a {
    flex-direction: column;
  }

  /* ANIMAÇÃO DO X QUANDO MENU HAMBURGUER ABRIR*/
  .menu-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-toggle.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* MEDIA QUERIES CONTAINER VALOR DA EMPRESA */
  .container_valor {
    height: auto;
    padding: 20px 0;
    margin-top: 50px;
  }

  .card_valor {
    width: 45%;
    border: none;
    margin-bottom: 30px;
    padding: 10px;
  }

  .text_one {
    font-size: 2rem;
  }

  .text_two {
    font-size: 1rem;
  }
}

/* 768px - Tablet vertical */
@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  header {
    height: auto;
    padding-bottom: 30px;
  }

  .swiper {
    min-height: 40vh;
  }

  .swiper-slide img {
    height: 40vh;
  }

  .slide-text {
    font-size: 1.2rem;
  }

  .container {
    height: 45vh;
  }

  .text h2 {
    font-size: 1.2rem;
  }

  .text span {
    width: 90%;
    font-size: 0.9rem;
  }

  .text_sobre {
    width: 30%;
  }

  .categorySwiper .swiper-button-next,
  .categorySwiper .swiper-button-prev {
    width: 30px;
    height: 40px;
  }

  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .product-card {
    padding: 15px;
  }

  .container_final_sec {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .container_address,
  .container_contato,
  .container_redes {
    align-items: center;
  }

  .logo_final {
    width: 50%;
    margin: 0 auto;
  }

  .container_card {
    grid-template-columns: 1fr;
    min-height: auto;
    width: 90%;
    margin: 20px auto;
  }
}

/* 480px - Celulares */
@media (max-width: 480px) {
  nav {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .logo img {
    height: 60px;
  }

  .swiper {
    min-height: 35vh;
  }

  .swiper-slide .home-slide img {
    max-height: 100%;
    height: 35vh;
  }

  .container {
    height: 40vh;
  }

  .text h2 {
    font-size: 1rem;
  }

  .text span {
    font-size: 0.8rem;
  }

  .text_sobre {
    width: 40%;
    height: 8%;
    font-size: 0.9rem;
  }

  .category-section h1 {
    font-size: 1.4rem;
    width: 80%;
  }

  #close-products {
    right: 10px;
    transform: translateX(0);
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-images {
    height: 150px;
  }

  .text_vid {
    font-size: 1.5rem;
  }

  .parceiros {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .container_final_sec {
    width: 90%;
  }

  .container_contato {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_final {
    width: 60%;
  }

  /* TEXTO H1 DO CONTAINER SOBRE*/
  .text_one {
    font-size: 1rem;
  }

  .text_two {
    font-size: 0.5rem;
  }

  /*CONTAINER DOS CARDS (IMPORTANCIA DOS EPIS)*/
  .container_card {
    grid-template-columns: 1fr;
    min-height: auto;
    width: 90%;
    margin: 20px auto;
  }
}

/* 380px - Celulares pequenos */
@media (max-width: 380px) {
  nav a {
    font-size: 1rem;
  }

  .text h2 {
    font-size: 0.9rem;
  }

  .text span {
    font-size: 0.7rem;
  }

  .text_sobre {
    width: 50%;
    height: 7%;
  }

  .category-section h2 {
    font-size: 1.2rem;
  }

  .product-card {
    padding: 10px;
  }

  .product-images {
    height: 120px;
  }

  .container_final_sec {
    gap: 20px;
  }

  .container_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container_valor {
  }
}
