html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #06003d;
  position: fixed;
  width: 100%;
  height: 20vh;
  padding: 20px;
  top: 0;
  z-index: 1000;
}

/* Border-box para todos elementos before e after*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* CAROSSEL DE IMAGENS */
.swiper {
  max-width: 100%;
  min-height: 80vh;
  margin-top: 0px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  height: 80vh;
  object-fit: cover;
  image-rendering: auto;
  filter: brightness(0.95);
}

.swiper-pagination-bullet {
  background: #f7d304;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #06003d;
  opacity: 1;
}

/* MENU DE NAVEGAÇÃO */
nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 10px;
  gap: 60px;
  border-radius: 50px;
}

nav a {
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #06003d;
}

nav a:hover {
  color: #134686;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.logo img {
  height: 10vh;
}

/* Botão de pesquisa */
.search {
  text-align: initial;
  text-decoration: none;
  padding: 20px 50px;
  border: none;
  border-radius: 30px;
}
/* LAYOUT SOBRE A EMPRESA */

/* estilo e display container Geral */
.container_geral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  min-height: 80vh;
}

/* Estilo e display container interno */
.container_interno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

/* Estilo e display do container 1 */
.container_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.container_1 p {
  margin-top: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.vid {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 4px;
}
/*Estilo e display do container 2*/
.container_2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.container_2,
.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-height: 50vh;
}

.texto h1 {
  font-size: 3rem;
  color: #f7d304;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.texto p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  word-wrap: break-word;
  margin-left: 20%;
  margin-right: 20%;
}

.container_2 {
  background-image: url(./img/container2.png);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  border-radius: 3px;
}

.container_2::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
/* CARROSSEL E CONTAINER DOS PRODUTOS */

.container_produtos {
  width: 100%;
  min-height: 50vh;
  font-size: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

/* CONTAINER FUTURO */
.container_futuro {
  margin: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
}

/*  CONTAINER FINAL / IMAGEM/ ENDEREÇO/ CONTATO/ REDES SOCIAIS*/
.container_final {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 50vh;
}

.container_final_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  gap: 40px;
  width: 80%;
  border-top: 2px solid;
}
/* Layouts das colunas*/
.container_address,
.container_contato,
.container_redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container_address img {
  position: absolute;
  left: 305px;
  top: -110px;
  width: 20%;
}

/* estilo dos containers */
.container_final h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}
.container_address h4,
p {
  margin: 0px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.contato_icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contato_icones a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.contato_icones a:hover {
  transform: scale(1.1);
  transition: 1s all ease;
  color: #134686;
}

.contato_icones img {
  width: 32px;
}

.redes_icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.redes_icones a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}
.redes_icones a:hover {
  color: #134686;
  transform: scale(1.1);
  transition: 1s all ease;
}
.redes_icones img {
  width: 32px;
}
/*Direitos reservados (Rodapé)*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  background-color: #06003d;
  height: 40px;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
}
