html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #06003d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  gap: 20px;
}

.search {
  padding: 15px;
  border-radius: 30px;
  border: none;
  width: 15vw;
}
/* Border-box para todos elementos before e after */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Carrossel de imagens*/
.swiper {
  width: 100%;
  height: 60vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  height: 90vh;
  object-fit: cover;
  image-rendering: auto;
  filter: brightness(0.95);
}

/* Botões de paginação */
.swiper-button-prev,
.swiper-button-next {
  color: #f7d304;
  transition: transform 0.2s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.3);
}

.swiper-pagination-bullet {
  background: #f7d304;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #06003d;
  opacity: 1;
}

/* Menu de navegação */
nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #134686;
  padding: 15px;
  gap: 60px;
  border-radius: 3px;
}

nav a {
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #f7d304;
}

nav a:hover {
  color: #f1f1f1;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.logo img {
  height: 10vh;
}

/* Layout Sobre */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.about a {
  background-color: #134686;
  padding: 10px 40px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
  border-radius: 3px;
  color: #f7d304;
  transition: all 1s ease;
}

.about a:hover {
  color: #ffffff;
  transform: matrix3d(1.2);
}

/* Display dos Containers*/

/*estilo e display container Geral*/
.container_geral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  min-height: 80vh;
}

/*Estilo e display container interno*/
.container_interno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  max-width: 80%;
  min-height: 70vh;
  padding: 50px 50px;
  box-sizing: border-box;
}

/*Estilo e display do container 1*/
.container_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container_1 p {
  margin-top: 0px;
  width: 90%;
  text-align: initial;
  font-size: 1.4rem;
}

.vid {
  width: 90%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 4px;
}
/*Estilo e display do container 1*/
.container_2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  z-index: 2;
}

.container_2,
.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.texto h1 {
  font-size: 3rem;
  color: #f7d304;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.texto p {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  word-wrap: break-word;
  margin-left: 20%;
  margin-right: 20%;
}

.container_2 {
  background-image: url(./img/container2.png);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  border-radius: 3px;
}

.container_2::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
/* Display e estilo container_produtos */

.container_produtos {
  width: 100%;
  min-height: 50vh;
  background-color: #134686;
  font-size: "Poppins", sans-serif;
  letter-spacing: 1px;
}

/*Rodapé*/
.container_final {
  display: flex;
  height: 400px;
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  background-color: #06003d;
  height: 40px;
  color: #ffffff;
}
