html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-family: 'poppins', sans-serif;
}
/* MENU DE NAVEGAÇÃO */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #06003d;
  width: 100%;
  height: 20vh;
  padding: 20px;
  margin: 0 auto;
  position: static;
  z-index: 1000;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 10px;
  gap: 60px;
  border-radius: 50px;
}

nav a {
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #06003d;
}

nav a:hover {
  color: #134686;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.logo img {
  height: 10vh;
}

/* Botão de pesquisa */
.search {
  text-align: initial;
  text-decoration: none;
  padding: 20px 50px;
  border: none;
  border-radius: 30px;
}

/* Border-box para todos elementos before e after*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* CAROSSEL DE IMAGENS */
.swiper {
  max-width: 100%;
  min-height: 60vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  height: 60vh;
  object-fit: cover;
  image-rendering: auto;
  filter: brightness(0.95);
}

.swiper-pagination-bullet {
  background: #f7d304;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #06003d;
  opacity: 1;
}

/* LAYOUT SOBRE A EMPRESA */
.container_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60vh;
  margin-top: 70px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-image: url(./img/frente.png);
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 80vh;
  overflow: hidden;
  border-radius: 4px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 34, 54, 0.7);
  z-index: 1;
}

.text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  width: 100%;
  transition: 1 all ease;
}

.text h2 {
  font-size: 2rem;
  margin: 0px;
}

.text span {
  font-size: 1.2rem;
  width: 50%;
  margin-left: 50px;
}
/* BUTTON SOBRE */
.container_botao {
  display: flex;
  justify-content: center;
}
.botao {
  display: flex;
  padding: 15px 100px;
  background-color: #134686;
  color: #ffffff;
  box-shadow: 5px 5px 0 #000000;
  transform: skew(-15deg);
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: 1s;
  margin-top: 70px;
  cursor: pointer;
}

.botao:hover {
  transition: 0.5s all ease;
  box-shadow: 8px 8px 0 #f7d304;
}

.sobre_span {
  font-size: 1.2rem;
  font-family: 'poppins', sans-serif;
  transform: skew(15deg);
}

.botao:hover .sobre_span {
  color: #f7d304;
}

/* CARROSSEL E CONTAINER DOS PRODUTOS */
.container_produtos {
  width: 100%;
  min-height: 50vh;
  font-size: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

/* CONTAINER FUTURO */
.container_futuro {
  margin: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
}

/*  CONTAINER FINAL / IMAGEM/ ENDEREÇO/ CONTATO/ REDES SOCIAIS*/
.container_final {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 50vh;
}

.container_final_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  gap: 40px;
  width: 80%;
  border-top: 2px solid;
}
/* Layouts das colunas*/
.container_address,
.container_contato,
.container_redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container_address img {
  position: absolute;
  left: 305px;
  top: -110px;
  width: 20%;
}

/* estilo dos containers */
.container_final h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  background-color: #134686;
  padding: 15px;
  box-shadow: 5px 5px 0 #000000;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.container_final h2:hover {
  box-shadow: 8px 8px 0 #f7d304;
  transition: 1s all ease;
}

.container_address h4,
p {
  margin: 0px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.contato_icones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contato_icones a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.contato_icones a:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
  color: #134686;
}

.contato_icones img {
  width: 32px;
}

.redes_icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.redes_icones a {
  display: flex;
  align-items: center;
  width: 25%;
  gap: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}
.redes_icones a:hover {
  color: #134686;
  transform: scale(1.1);
  transition: 0.3s all ease;
}
.redes_icones img {
  width: 32px;
}
/*Direitos reservados (Rodapé)*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  background-color: #06003d;
  height: 40px;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
}
