html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-family: 'poppins', sans-serif;
}
/* MENU DE NAVEGAÇÃO */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #06003d;
  width: 100%;
  height: 20vh;
  padding: 20px;
  margin: 0 auto;
  position: static;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 20px;
  gap: 60px;
  border-radius: 4px;
}

nav a {
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #06003d;
}

nav a:hover {
  color: #134686;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.logo img {
  height: 10vh;
}

/* Botão de pesquisa*/
.search {
  text-align: initial;
  text-decoration: none;
  padding: 10px 50px;
  border: none;
  border-radius: 30px;
}

/* Border-box para todos elementos before e after*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* CAROSSEL DE IMAGENS */
.swiper {
  max-width: 100%;
  min-height: 60vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  height: 60vh;
  object-fit: cover;
  image-rendering: auto;
  filter: brightness(0.95);
}

.swiper-pagination-bullet {
  background: #f7d304;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #06003d;
  opacity: 1;
}

/* LAYOUT SOBRE A EMPRESA */
.container_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60vh;
  margin-top: 100px;
  position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-image: url(./img/frente.png);
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 80vh;
  overflow: hidden;
  border-radius: 4px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.7);
  z-index: 1;
}

.text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  width: 100%;
  opacity: 0;
  animation: fadeIn 2.5s ease forwards;
}

.text h2 {
  font-size: 2rem;
  margin-left: 150px;
  width: 100%;
  margin: 0px;
  padding-left: 20px;
}

.text span {
  font-size: 1.2rem;
  width: 60%;
  padding-left: 40px;
  text-align: start;
  border-bottom: 1px solid #f7d304;
}

/* LAYOUT SOBRE H1 */
.text_sobre {
  display: flex;
  position: absolute;
  justify-content: center;
  border-radius: 4px;
}

.text_sobre {
  z-index: 3;
  top: -5%;
  background-color: #134686;
  width: 15%;
  height: 10%;
}

.text_sobre h1 {
  color: #ffffff;
  font-weight: 200;
}

.text_sobre:hover {
  background-color: #3e5a7d;
  transition: 1s all ease-in-out;
  transform: scale(1.1);
}
/* ANIMAÇÃO DO TEXTO  */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 2;
    transform: translate(-50%, -50%);
  }
}

/* CARROSSEL E CONTAINER DOS PRODUTOS */
.categorySwiper {
  width: 100%;
  margin: 10%;
  background-color: #134686;
}

.category-slide {
  cursor: pointer;
  text-align: center;
}

.category-img {
  width: 100%;
  min-height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.category-slide.active {
  border-bottom: 3px solid #222;
  padding-bottom: 5px;
  transform: scale(1.03);
}

/* card esqueleto */
.product-card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-images div {
  height: 150px;
  background: #f1f1f1;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 18px;
  margin-top: 20px;
}

.product-card p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}
/* CONTAINER FUTURO */

/* CONTAINER MARCAS */
.container_marcas {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 400px;
  width: 100%;
}

.parceiros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.parceiros img {
  max-width: 200px;
  max-height: 90px;
  object-fit: contain;
  filter: grayscale(100%) brightness(1);
  transition: 2s all ease;
}

.parceiros img:hover {
  transform: scale(1.1);
  filter: none;
}
/*  CONTAINER FINAL / IMAGEM/ ENDEREÇO/ CONTATO/ REDES SOCIAIS*/
.container_final {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 50vh;
}

.container_final_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  gap: 40px;
  width: 80%;
  border-top: 2px solid;
}
/* Layouts das colunas*/
.container_address,
.container_contato,
.container_redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container_address img {
  position: absolute;
  left: 305px;
  top: -110px;
  width: 20%;
}

/* estilo dos containers */
.container_final h2 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  background-color: #134686;
  padding: 15px;
  box-shadow: 3px 3px 0 #a8c8ef;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.container_final h2:hover {
  box-shadow: 8px 8px 0 #f7d304;
  transition: 1s all ease;
}

.container_address h4,
p {
  margin: 0px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.contato_icones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contato_icones a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.contato_icones a:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
  color: #134686;
}

.contato_icones img {
  width: 32px;
}

.redes_icones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.redes_icones a {
  display: flex;
  align-items: center;
  width: 25%;
  gap: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}
.redes_icones a:hover {
  color: #134686;
  transform: scale(1.1);
  transition: 0.3s all ease;
}
.redes_icones img {
  width: 32px;
}
/*Direitos reservados (Rodapé)*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  background-color: #06003d;
  height: 40px;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
}
